*,
*::before,
*::after {
  box-sizing: border-box;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.pagesContainer{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap:20px;
}

.pagesContainer > .login-page{
  grid-column: 1 / 3;
}


/* Простые стили для хедера */

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* background: rgb(187, 209, 233); */
  /* color: white; */
  border-bottom: 1px solid rgb(168, 164, 164);
}

.App-header__userInfo {
  display: flex;
  align-items: center;
  gap: 22px;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
}

.App-header__username {
  font-weight: 400;
  font-size: 26px;
}

.logout-btn {
  padding: 14px 14px;
  background: rgb(197, 198, 198);
  font-size: 19px;
  /* color: #4a90e2; */
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.logout-btn:hover {
  background: #bfbcbc;
}