*,
*::before,
*::after {
  box-sizing: border-box;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.pagesContainer{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
