.Chat-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:10px;

  &__input{
    margin-top: 30px;
    border-radius: 20px;
    border: 2px solid rgb(193, 191, 191);
    width: 100%;
    height: 60px;
    font-size: 25px;
    padding: 10px;
  }

  &__button{
    margin-top: 30px;
    border-radius: 40px;
    background-color: rgb(187, 209, 233);
  }
}

