.chatsList{
    position: relative;
    width: 40%;
    margin: auto;
    padding: 10px;
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
    align-items: center;
}

.list-item{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    cursor: pointer;
    padding-right: 10px;
}

.list-item:hover{
    box-shadow: 2px 2px 4px 4px rgb(165, 156, 178);
}

.list-item__info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px rgb(197, 193, 193) solid;
    padding-bottom: 10px;

}


.middle-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: space-between;
}

.name{
 font-size: 35px;
 font-weight: 200;
}

.last-msg{
    width: 250px;
    color: grey;
    font-size: 25px;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    

}

.end-container{
    width: 50px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

.time-msg{
    font-size: 20px;
    color: grey;

}

.msg-counter{
    padding: 4px;
    width: 80%;
    /* padding-left: 2px;
    padding-right: 2px; */
    background-color: rgb(143, 169, 203);
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    

}

.msg-counter__text{
    color: white;
    font-size: 18px;
}



