.Chat-container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 40px;


  &__selectTitle{
    margin-top: 70%;
    margin-left: 80px;
    color: grey;
    font-size: 30px;
    font-weight: 200;
    font-family :Arial, Helvetica, sans-serif;
    text-align: center;
    
  }
}


.scroll-container{
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  list-style: none;
  flex-direction: column;
  gap:30px;

  &::-webkit-scrollbar {
    width: 4px; // Тонкий скроллбар
    
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f16c; // Цвет дорожки
  }
  
  &::-webkit-scrollbar-thumb {
    background: #c1c1c16d; // Цент ползунка
    border-radius: 3px;
  }

}

