.Chat-container{
  
  height: 100%;
  display: flex;
  flex-direction: column;
  // gap:20px;
  // margin-top: 40px;

  &__header{
    height: 81px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px 0 20px;
    border-bottom: 1px solid rgb(168, 164, 164);
  }

  &__chatTitle{
    color: #000;
    font-size: 26px;
    font-weight: 400;
  }
  

  &__selectTitle{
    margin-top: 35%;
    // margin-left: 80px;
    color: grey;
    font-size: 30px;
    font-weight: 200;
    font-family :Arial, Helvetica, sans-serif;
    text-align: center;
    
  }
}


.scroll-container{
  margin-top: 20px;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  list-style: none;
  flex-direction: column;
  // gap:30px;

  &::-webkit-scrollbar {
    width: 4px; // Тонкий скроллбар
    
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f16c; // Цвет дорожки
  }
  
  &::-webkit-scrollbar-thumb {
    background: #c1c1c16d; // Цент ползунка
    border-radius: 3px;
  }

}

.chat-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}