.form {
    padding-top: 20px;
    width: 40%;
        box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    border: 1px solid rgba(25, 25, 25, 0.32);
}

.message {
    color: rgb(39, 36, 36);
    font-size: 35px;
    font-weight: 200;
    max-width: 70%; 
    border: 1px solid rgba(25, 25, 25, 0.32);
    

    background-color: #deafeae4;
    border-radius: 4px;
    margin: 4px 20px;
    padding: 10px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap:10px
}

.message-container{
    display: flex;
    flex-direction: column;
    align-items: end;
}

input[type=submit] {
    visibility: collapse;
}

input {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
    font-size: 35px;
    padding: 20px;
    color: grey;
    font-weight: 300;
}


.input-container{

    padding: 10px;
    padding-right: 20px;
    display: flex;
    border-top: 1px solid rgba(25, 25, 25, 0.32);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.message-time{
    font-size: 19px;
    color: rgb(56, 53, 53);
}