.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 40%;
    margin: 0 auto;
    border: 1px solid rgba(25, 25, 25, 0.32);
    padding-top: 20px;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:10px;
    max-width: 70%;
    margin: 4px 20px;
    margin-bottom: 20px; 
    border: 1px solid rgba(25, 25, 25, 0.32);
    border-radius: 4px;
    padding: 10px;
    color: rgb(39, 36, 36);
    font-weight: 200;
    font-size: 35px;
    background-color: #deafeae4;
}

.message-container{
    display: flex;
    flex-direction: column;
    align-items: end;
}

input[type=submit] {
    visibility: collapse;
}

input {
    width: calc(100% - 2px);
    border: 0;
    padding: 20px;
    outline: none;
    color: grey;
    font-weight: 300;
    font-size: 35px;
}


.input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(25, 25, 25, 0.32);
    padding: 10px;
    padding-right: 20px;
}

.message-time{
    color: rgb(56, 53, 53);
    font-size: 19px;
}