.chat-header{
    margin: auto;
    background-color: rgb(143, 74, 208);
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.header-icons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: -10px;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.user-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    align-items: center;
}

.name-box{
    display: flex;
    flex-direction: column;

}

.name{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.isOnline{
    color: rgb(160, 160, 160);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    font-weight: 500;
}

.search-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:30px;
}

.avatar-box{
    background-color: white;
    border-radius: 50px;
}

