.edit-container{
    width: 40%;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:end;
}



.edit-btn{
    border-radius: 37px;
    padding: 15px;
    background-color: rgb(143, 74, 208);
    border: none;
}

.modal-content{
    width: 30%;
    border: 5px rgb(143, 74, 208) solid;
    background-color: rgba(255, 255, 255, 0.797);
    border-radius: 20px;
    padding: 20px;
    margin: auto;
   
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.modal-content__text{
    font-size: 30px;
}

.add-chat-modal.hidden{
    display: none;
}