.Chat-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin: 0 20px;

  &__input{
    background-color: white;
    // margin-top: 30px;
    border-radius: 20px;
    border: 2px solid rgb(193, 191, 191);
    width: 100%;
    height: 60px;
    font-size: 25px;
    padding: 10px;
    color: black;
  }

  &__input:active{
    outline: 2px solid rgb(231, 233, 234);
  }

  &__button{
    // margin-top: 30px;
    border-radius: 40px;
    background-color: rgb(187, 209, 233);
  }
  
  &__button:hover{
    outline: 2px solid rgb(231, 233, 234);
    
  }
}

